main > .container {
    padding: 60px 15px 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

hr.correct {
    border: 8px solid rgb(97, 130, 97);
    border-radius: 4px;
}




table.salary {
	margin: auto;
	width: 1200px;
	border-collapse: collapse;
	border: 1px solid #fff; /*for older IE*/
	border-style: hidden;
}

table.salary caption {
	background-color: #f79646;
	color: #fff;
	font-size: x-large;
	font-weight: bold;
	letter-spacing: .3em;
}

table.salary thead th {
	padding: 8px;
	background-color: #fde9d9;
	font-size: 0.8em;
	font-weight: bold;
    text-align: center;
}

table.salary th{
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #f79646 #ccc;
}

table.salary td {
	border-width: 1px;
	border-style: solid;
	border-color: #f5f2ef #ccc;
	font-size: 0.7em;
	font-weight: bold;
	text-align: left;
}

table.salary td.bar {
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 4px;
    padding-left: 0px;
    font-size: 0.7em;
	font-weight: normal;
	text-align: left;
	border-width: 1px;
	border-style: solid;
	border-color: #f79646 #ccc;
}

.th_title {
	color: red;
	font-size: 0.8em;
	font-weight: bold;
	text-align: left;
}

table.salary tbody th {
	text-align: left;
	font-weight: normal;
}

table.salary tfoot {
	font-weight: bold;
	font-size: large;
	background-color: #687886;
	color: #fff;
}

table.salary tr.even {
	background-color: #fde9d9;
}